.image_cart_profil{
    height: 190px;
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.valable_person {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    right: 11px;
    top: 8px;
  }
  .actif{
      background-color: green;
  }
  .in_actif{
    background-color: gray;
}
.image_cart_profil>img { 
        max-width: 100%;
        max-height: 100%;
        background: white;
}
.cart_profil{
    width: 200px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.image_cart_profil{
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.heart_for_you{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  .heart_for_you>img{
    height: 40px;
  }
  .detail_for_me_cart_profil {
    padding: 17px 6px 6px 6px;
    position: relative;
  }
  .h1_cart_profil{
        margin: 0;
        font-size: 16px;
  }
  .action_button >div {
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    background: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rebeccapurple;
    margin: 0 5px;
    cursor: pointer;
  }
  .cc_action_button {
    position: absolute;
    width: 100%;
    top: -17px;
    right: 0;
  }
  .name_cart_profil{
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  .h1_cart_profil{
    color: var(--color-gray);
    font-weight: bold;
    font-size: 12px;
  }
  .action_button {
    display: flex;
    justify-content: center;
  }
  .few_detail_for_me{
        margin: 0;
        font-size: 13px;
  }