.messaging {
    width: 400px;
    height: 60vh;
    background: white;
    border-radius: 5px 5px 0 0;
    border: 1px solid #80808091;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
  }

  .contantMessage{
    overflow: auto;
  }
.action{
    background-color: transparent;
  }
  .text_message {
    margin: 20px 0px;
    width: 100%;
    display: flex;
  
  }
  .cc_bubble{
    position: relative;
  }
  .image_profil_bubble {
    height: 100%;
    width: 100%;
  }
 .close_bubble_message {
    display:none ;
    cursor: pointer;
    border: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    background: transparent;
    top: -13px;
  }
  .cc_bubble:hover .close_bubble_message {
    display: block !important;
  }
  .close_messaging{
      font-size: 24px;
      color: var(--color-gray);
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: 200ms;
      cursor: pointer;
  }
  .text_input_messaging {
    width: 97%;
    border-radius: 13px;
    border: none;
    height: 38px;
    margin: 6px;
    padding-right: 50px;
    padding-left: 8px;
    border: 1px solid var(--color-gray);
}
  .close_messaging:hover{
    background-color: var(--color-gray);
    color: white;
}
.text_messaging_to_send {
  position: relative;
}
.button_send_message{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
}
.text_messaging_to_send {
    position: relative;
}
  .name_user_messaging{
    color: var(--color-gray);
    font-weight: 700;
  }
  .close_messaging_and_menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    align-items: center;
}
  .profil_messaging_header_image{
    display: flex;
    align-items: center;
  }
  .profil_messaging_header_image>div{
      margin-right: 5px;
  }
  .my_texto {
    justify-content: right;
  }
 .my_texto>div {
    background: #009f83;
    border-radius: 19px;
    padding: 5px;
    color: white;
}
  .text{
    width: 70%;
    margin: 0 11px;
  }
  .your_texto>div{
    background: #065547;
    border-radius: 19px;
    padding: 5px;
    color: white;
  }
  .user_profil_avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
}
.header_messaging {
    display: grid;
    grid-template-columns: 1fr 1fr;
}