:root{
  --color-gray : #555252;
  --background-color : #eaeaea75 ;
  --color : #2f2d2d ;
  --color-red : #ea0303;
  --theme-color : #7f3bc4
}
body {
  margin: 0;
  background-color:var(--background-color) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 576px) {
   .bubble_messaging{
     display: none;
   }
   .messaging{
     height: 90vh !important;
     width: 90vw !important;
   }
}